:root {
    --col: #4b72be;
    --hover: #9cb3e1;
    --btnbg: #464646;

    --headBg: #161616;
    --bg: #202020;

    --boxshadow: rgba(255, 255, 255, 0.05);
    --boxbg: rgb(51, 51, 51);
    --drophover: rgb(24, 24, 24);

    --sliderbg: #ccc;
    --sliderblue: #2194f3;
    --sliderwhite: white;

    --icon: #bbb;
    --iconhov: white;

    --font: "Gill Sans Nova",sans-serif;
}
