body {
    padding: 0;
    margin: 0;

    color: var(--col);
    background-color: var(--bg);

    font-family: var(--font);
    font-size: 16px;
}






#header {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--headBg);

    text-align: center;

    display: flex;
    justify-content: space-between;
}




.pc{
    display: block;
}
.drop {
    position: relative;
    display: inline-block;
    
    padding: 1vh 1vw 1vh 0;
}
.drop a{
    color: var(--col);
    text-decoration: none;

    padding: 0.5vh 0 0 0;
}
.drop a:hover {color: var(--hover);}

.drop-cont {
    display: none; 
    position: absolute;
    
    min-width: 150%;

    box-shadow: 0 1vh 2vw 0 var(--boxshadow);

    background-color: var(--boxbg);
    transition: 0.3s;
}
.drop-cont a {
    color: var(--col);
    text-decoration: none;

    display: block;
}
.drop-cont a:hover {background-color: var(--drophover); transition: 0.3s;}
.drop:hover .drop-cont {display: block;}





.mobile{
    display: none;
    width: 25%;
}
.mobile a{
    text-decoration: none;
    color: var(--col);
}
.mobile a:hover{
    color: var(--hover);
}

.mobile label{
    position: absolute;
    display: inline-block;

    top: 0;
    left: 0;
    right: 0;

    width: 100%;
}
.mobile button{
    opacity: 0;
    width: 0;
    height: 0;
}
.mobile span{
    position: absolute;

    top: -0.8vh;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 4vh;

    cursor: pointer;
}
.mobile span:hover{
    color: var(--hover);
}

.ma{
    height: 4vh;
    background-color: var(--headerbg);

}

#mblb{
    position: absolute;

    top: -5vh;
    left: 0;
    right: 0;

    z-index: -1;

    background-color: var(--headBg);
}

#mbl{
    display: flex;
    flex-direction: column;

    transition: padding-top 0.4s;
    transition-timing-function: ease-out;
}

@media screen and (max-width: 600px) {
    .pc{ display: none;}
    .mobile{ display: block;}
}




#theme-tog{
    padding: 1vh;
}
.switch {
    position: relative;
    display: inline-block;

    width: 4vh;
    height: 2vh;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 1vh;

    cursor: pointer;

    background-color: var(--sliderbg);

    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;

    content: "";

    height: 1.3vh;
    width: 1.3vh;
    left: 0.35vh;
    bottom: 0.35vh;

    border-radius: 50%;

    background-color: var(--sliderwhite);

    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--sliderblue);
}
input:checked + .slider:before{
    -webkit-transform: translateX(2vh);
    -ms-transform: translateX(2vh);
    transform: translateX(2vh);
}





#page{
    margin-top: 5vh;
    transition: margin-top 0.4s;
    transition-timing-function: ease-out;
}
#page a{
    text-decoration: none;

    color: var(--col);
}
#page a:hover{
    color: var(--hover);
}
.links-page{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
}
.links-page a{
    padding: 1vh 0 0 0;
}
button{
    background-color: var(--btnbg);
    border: none;

    cursor: pointer;
}
#page p{
    padding-left: 0.5vw;
}



.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider2{
    width: 100%;
    border-radius: 10px;

    overflow: hidden;
}
.slides{
    width: 300%;
    height: 100%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 33.333333%;
    transition: 2s;
}
.slide img{
    width: 100%;
}
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -5%;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 5vw;
}
.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -33.33333%;
}
#radio3:checked ~ .first{
    margin-left: -66.66666%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 51.2%;
}
.navigation-auto div{
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 5vw;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: black;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: black;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: black;
}


.fas{
    color: var(--icon);

    padding: 0.5vh 0 0 0.5vh;
    font-size: 200%;

}
.fas:hover{
    color: var(--iconhov);
}





#right{
    display: flex;
    justify-content: right;  
}
#right table, th, td{
    border: 0.25vh solid white;
    border-collapse: collapse;
    max-width: 30vw;
}
#right img{
    width: 100%;
}
#right h6{
    font-size: 2vh;
    margin: 0;
    padding: 1vh 0 0 1vh;
}
#right p{
    padding: 0 1vh 0 1vh;
}
@media screen and (max-width: 600px) {

}




a.notDone{
    color: red;
    text-decoration: line-through;
}