body {
    padding: 0;
    margin: 0;

    color: var(--col);
    background-color: var(--bg);

    font-family: var(--font);
    font-size: 30px;
}





#header {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--headBg);

    text-align: center;

    display: flex;
    justify-content: space-between;
}




.pc{
    display: block;
}
.drop {
    position: relative;
    display: inline-block;
    
    padding: 1vh 1vw 1vh 0;
}
.drop a{
    color: var(--col);
    text-decoration: none;

    padding: 0.5vh 0 0 0;
}
.drop a:hover {color: var(--hover);}

.drop-cont {
    display: none; 
    position: absolute;
    
    min-width: 150%;

    box-shadow: 0 1vh 2vw 0 var(--boxshadow);

    background-color: var(--boxbg);
    transition: 0.3s;
}
.drop-cont a {
    color: var(--col);
    text-decoration: none;

    display: block;
}
.drop-cont a:hover {background-color: var(--drophover); transition: 0.3s;}
.drop:hover .drop-cont {display: block;}





.mobile{
    display: none;
    flex-direction: column;
}
.mobile a{
    text-decoration: none;
    color: var(--col);
}
.mobile a:hover{
    color: var(--hover);
}
.mobile button{
    opacity: 0;
    width: 0;
    height: 0;
}
.mobile span{
    position: absolute;
    top: -1vh;

    font-size: 5vh;
}
.mbl{
    padding-top: 7.5vh;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    .pc{ display: none;}
    .mobile{ display: flex;}
}




#theme-tog{
    padding: 1vh;
}
.switch {
    position: relative;
    display: inline-block;

    width: 4vh;
    height: 2vh;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 1vh;

    cursor: pointer;

    background-color: var(--sliderbg);

    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;

    content: "";

    height: 1.3vh;
    width: 1.3vh;
    left: 0.35vh;
    bottom: 0.35vh;

    border-radius: 50%;

    background-color: var(--sliderwhite);

    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--sliderblue);
}
input:checked + .slider:before{
    -webkit-transform: translateX(2vh);
    -ms-transform: translateX(2vh);
    transform: translateX(2vh);
}





#page{
    margin-top: 5vh;
}
#page a{
    text-decoration: none;

    color: var(--col);
}
#page a:hover{
    color: var(--hover);
}
.links-page{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
}
.links-page a{
    padding: 1vh 0 0 0;
}
button{
    background-color: var(--btnbg);
    border: none;

    cursor: pointer;
}





.fas{
    color: var(--icon);

    padding: 0.5vh 0 0 0.5vh;
    font-size: 200%;

}
.fas:hover{
    color: var(--iconhov);
}





#right{
    display: flex;
    justify-content: right;  
}
#right table, th, td{
    border: 0.25vh solid white;
    border-collapse: collapse;
    max-width: 30vw;
}
#right img{
    width: 100%;
}
#right h6{
    font-size: 2vh;
    margin: 0;
    padding: 1vh 0 0 1vh;
}
#right p{
    padding: 0 1vh 0 1vh;
}
